<div class="navmenu-container">
  <a class="navmenu-link" routerLink="/dashboard">
    <div class="navmenu-btn" (click)="selectButton($event)">
      <i class="fas fa-home"></i>
      <p class="btn-text">Dashboard</p>
    </div>
  </a>
  <a
    class="navmenu-link"
    routerLink="/transactions"
    (click)="selectButton($event)"
  >
    <div class="navmenu-btn">
      <i class="fas fa-money-check-alt"></i>
      <p class="btn-text">Transactions</p>
    </div>
  </a>
  <a
    class="navmenu-link"
    routerLink="/analytics"
    (click)="selectButton($event)"
  >
    <div class="navmenu-btn">
      <i class="fas fa-chart-line"></i>
      <p class="btn-text">Analytics</p>
    </div>
  </a>
  <a class="navmenu-link" routerLink="/settings" (click)="selectButton($event)">
    <div class="navmenu-btn">
      <i class="fas fa-cog"></i>
      <p class="btn-text">Settings</p>
    </div>
  </a>
</div>
