@import "../../themes/dark_theme";

.navmenu-container {
  display: flex;
  height: 60px;
  background-color: $navmenu-bg;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;

  a {
    flex-grow: 1;
    text-decoration: none;
    height: 100%;

    .navmenu-btn {
      height: 100%;
      display: flex;
      flex-flow: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      min-width: 60px;
      padding: 10px 0 0 0;

      &:hover {
        background-color: $selected-navmenu-btn-bg;
        color: $selected-navmenu-btn-color;
      }

      i {
        color: $navmenu-icon-color;
        font-size: 1.5em;
      }

      .btn-text {
        font-size: 0.8em;
        color: $navmenu-btn-color;
        margin: 5px 0;
        padding: 0;
      }
    }
  }

  .selected {
    &.navmenu-btn {
      background-color: $selected-navmenu-btn-bg;
      color: $selected-navmenu-btn-color;
    }
  }
}
