<div class="homescreen-container">
  <div class="balance-panel">
    <p class="welcome-title">Welcome, Jason</p>
    <p class="balance-header">Your balance</p>
    <p class="balance-amount">{{ 946.89 | currency }}</p>
  </div>
  <div class="list-title">
    <p>Savings</p>
  </div>
  <div class="savings-panel">
    <div class="savings-data">
      <p class="savings-title">Since last month</p>
      <div class="savings-amount">
        <i class="fas fa-caret-down"></i>
        <p>5%</p>
      </div>
    </div>
    <div class="savings-data">
      <p class="savings-title">Since last year</p>
      <div class="savings-amount">
        <i class="fas fa-caret-up"></i>
        <p>23%</p>
      </div>
    </div>
  </div>
  <div class="list-title">
    <p>Most recent transactions</p>
  </div>
  <div *ngFor="let transaction of transactions">
    <app-transaction [data]="transaction"></app-transaction>
  </div>
  <div class="list-title">
    <p>Active subscriptions</p>
  </div>
  <div *ngFor="let transaction of activeSubscriptions">
    <app-transaction [data]="transaction"></app-transaction>
  </div>
</div>
